body {
    margin: 0;
    background: beige;
}

a {
    padding: 0 10px;
}

h1 {
    text-align: center;
    background: black;
    color: white;
    padding: 5px 0;
}

h2, p {
    margin-left: 20px;
}

.steps {
    text-align: justify;
}

li {
    padding: 0px 10px;
}

img {
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
}

